@import url('https://fonts.googleapis.com/css?family=Geostar+Fill&display=swap');

.titleContact{
  font-family: 'Geostar Fill', cursive;
  font-size : 2em;
  color: white;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: red;
}

.form{
  color: white;
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: red;
}
.paraContact{
  text-decoration: underline red;
}

.paddingBox{
  padding: 5em;
}
.boxReference{
  display: flex;
}
.marginBox{
margin-left: 0;
margin-right: auto;
}
